[submodule "src/utilities/TerraForge"]
	path = src/utilities/TerraForge
	url = https://github.com/Stars-Beyond/TerraForge/
[submodule "src/utilities/PebbleVault"]
	path = src/utilities/PebbleVault
	url = https://github.com/Stars-Beyond/PebbleVault
[submodule "Graviton"]
	path = Graviton
	url = https://github.com/Stars-Beyond/Graviton
