[submodule "TerraForge"]
	path = src/crates/TerraForge
	url = https://github.com/Stars-Beyond/TerraForge
[submodule "PebbleVault"]
	path = src/crates/PebbleVault
	url = https://github.com/Stars-Beyond/PebbleVault
[submodule "Graviton"]
	path = src/crates/Graviton
	url = https://github.com/Stars-Beyond/Graviton
[submodule "core"]
	path = src/subsystems/core
	url = https://github.com/Stars-Beyond/core
